$bg-white: #ffffff;
$bg-grey: #f8f8f8;
$color-grey: #7e7e82;

.body-add {
  overflow: hidden;
  position: relative;
  &::before {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: $bg-white;
    opacity: 0.96;
    z-index: 1;
  }
}

.wrapper-menu {
  box-sizing: border-box !important;
  width: 320px;
  height: 100%;
  font-family: 'TT Lakes', sans-serif;
  font-weight: 500;
  background-color: $bg-white;
  transform: translateX(-400px);
  transition: all 0.5s ease;
  visibility: hidden;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
  overflow-y: auto;
  box-shadow: -2px 0px 4px rgba(69, 79, 126, 0.02),
    16px 0px 52px rgba(14, 24, 80, 0.2);
  &::-webkit-scrollbar {
    display: none;
  }
}
.wrapper-menu-content {
  min-height: 100%;
  padding: 24px 24px 32px 24px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.wrapper-menu-add {
  visibility: visible !important;
  transform: translateX(0);
  transition: all 0.5s ease;
}

/* header start*/

.header-menu {
  width: 100%;
  height: 100px;
}
.header-menu__buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100% !important;
}
.header-menu-buttons__button {
  background-color: transparent;
  border: none;
  width: 40px;
  height: 40px;
  cursor: pointer;
  transition: all 0.5s ease;
}
.header-menu-buttons__button:hover,
.first-column-button:hover,
.header-menu-buttons__button:focus,
.first-column-button:focus,
.header-menu-buttons__button:active,
.first-column-button:active,
.header-menu-buttons__button:active,
.first-column-button:active {
  opacity: 0.6;
}
.header-menu-buttons__left-column {
  display: flex;
  justify-content: space-between;
  gap: 16px;
  align-items: center;
}

/* header end*/

/* main-menu-nav start*/

.main-menu-nav {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-content: flex-start;
  padding-bottom: 16px;
}
.main-menu-nav__link {
  position: relative;
}
.main-menu-nav__link:not(:last-child) {
  margin-bottom: 29px;
  transition: all 0.5s ease;
}
.main-menu-nav__link-address {
  text-decoration: none;
  font-size: 16px;
  color: #1b1c21;
  display: inline-block;
  vertical-align: middle;
  transition: all 0.3s ease;
}
.main-menu-nav__link:hover .main-menu-nav__link-address::before {
  content: url('../assets/img/highlight.svg');
  position: absolute;
  width: 4px;
  height: 32px;
  top: -10px;
  left: -24px;
}
.main-menu-nav__link-address:hover,
.main-menu-nav__link-address:active,
.main-menu-nav__link-address:focus {
  color: $color-grey;
  opacity: 0.6;
}
.main-menu-nav__link-address:hover::before,
.main-menu-nav__link-address:active::before,
.main-menu-nav__link-address:focus::before {
  content: url('../assets/img/highlight.svg');
  position: absolute;
  width: 4px;
  height: 32px;
  top: -10px;
  left: -24px;
}

/* main-menu-nav end*/

/* main-menu-footer start*/

.main-menu-footer__lists {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
.main-menu-footer-lists__first-column-buttons {
  display: flex;
  flex-direction: row;
  gap: 16px;
  justify-content: space-between;
  padding-bottom: 16px;
}
.first-column-button {
  background-color: transparent;
  border: none;
  width: 40px;
  height: 40px;
  cursor: pointer;
  transition: all 0.5s ease;
}
.main-menu-footer__second-column {
  padding-bottom: 12px;
  transition: all 0.5s ease;
}
.second-column-email {
  text-decoration: none;
  font-size: 16px;
  color: #1b1c21;
  display: inline-block;
  transition: all 0.5s ease;
}
.second-column-email:hover,
.second-column-email:active,
.second-column-email:focus {
  opacity: 0.6;
}

.main-menu-footer__third-column {
  padding-bottom: 35px;
  transition: all 0.5s ease;
}
.fourth-column-lang {
  text-decoration: none;
  font-size: 16px;
  color: #1b1c21;
  display: inline-block;
  transition: all 0.5s ease;
}
.fourth-column-lang:hover:not(:first-child),
.fourth-column-lang:focus:not(:first-child) {
  transform: scale(1.1);
  opacity: 0.6;
}
.fourth-column-lang--mod {
  color: $color-grey;
  line-height: 150%;
}
.third-column-num {
  font-size: 24px;
  letter-spacing: -0.6px;
  font-weight: 800;
  line-height: 133%;
  transition: all 0.5s ease;
}
.third-column-num:hover,
.third-column-num:active,
.third-column-num:focus {
  opacity: 0.6;
}

/* main-menu-footer end*/

@media (max-width: 360px) {
  .wrapper-menu {
    max-width: 100%;
    min-width: 320px;
    row-gap: 16px;
  }
  .main-menu-nav__link {
    transition: all 0s ease;
  }
  .header-menu {
    padding-bottom: 24px;
  }
  .main-menu-footer-lists__first-column-buttons {
    padding-bottom: 16px;
  }
  .main-menu-footer__second-column {
    padding-bottom: 12px;
  }
  .main-menu-footer__third-column {
    padding-bottom: 8px;
  }
  .main-menu-nav__link:not(:last-child) {
    margin-bottom: 24px;
  }
}
@media (max-width: 320px) {
  .wrapper-menu-content {
    padding: 23px 16px 32px 16px;
  }
  .main-menu-nav__link:hover .main-menu-nav__link-address::before {
    content: url('../assets/img/highlight.svg');
    position: absolute;
    width: 4px;
    height: 32px;
    top: -10px;
    left: -16px;
  }
  .main-menu-nav__link-address:hover::before,
  .main-menu-nav__link-address:active::before,
  .main-menu-nav__link-address:focus::before {
    content: url('../assets/img/highlight.svg');
    position: absolute;
    width: 4px;
    height: 32px;
    top: -10px;
    left: -16px;
  }
}
